/* Sleep-Aid-Music-Evaluator/web/css/style.css */

body {
    background: linear-gradient(180deg, rgba(123,0,255,1) 0%, rgba(255,151,151,0.7) 100%);
}

.btn-xl {
    padding: 0px 0px;
    font-size: 45px;
    border-radius: 50px;
    height: 100px;
    width:360px;
}

.top-container {
    background: rgb(123,0,255,1);
}

.bottom-container{
    background: rgb(255,151,151,0.7);
    display: flex;
    align-items: flex-end; /* Aligns content to the bottom */
    justify-content: center; /* Centers content horizontally */
}

.result-list-item{
    list-style-type: "";
    background: rgb(255,255,255,0);
    height: 40px;
    font-size: 20px;
    text-align: left;
    padding: 5px 15px;
    color: #ffffff;
}

.word{
    color: #ffffff;
    line-height: 1.8;
}

.ascii-art {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    background: none;
    font-weight: 500;
}

.nav-link {
    color: white;
}
