.li {
    display: block; /* Makes each listItem appear on its own line */
    height: 1em; /* Line height */
    line-height: 1em;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px; /* Adds space between items */
    color: black;
    background-color: #FF0000; /* Default color */
}

.btn-xl {
    color:
    padding: 0px 0px;
    font-size: 45px;
    border-radius: 50px;
    height: 100px;
    width:360px;
}

.top-container {
  height: 37vh;
}

body {
    background-image: url('../images/bg.png'); /* Adjust path as necessary */
    background-repeat: no-repeat;
    background-attachment: scroll; /* This is the default behavior */
    background-size: cover; /* Cover the entire area of the view */
    background-position: center center; /* Center the background image */
}
